{
  "openapi": "3.1.0",
  "info": {
    "title": "Toolpath Engine API",
    "version": "1.0.0",
    "description": "Public REST API for Toolpath engine operations.\n\n**Units.** All dimensional values — in reports and in feature datasheets — are in\nmillimetres; all angles are in degrees. Each report also states this in its `units` field.\n\n**Browser use.** CORS is per API key: a request only receives an\n`Access-Control-Allow-Origin` header when its `Origin` is in the allowlist configured on the\nkey used (set when creating or editing the key in the portal). A key with no allowed origins\nis server-to-server only. A Bearer API key placed in client-side JavaScript is readable by\nanyone — restrict its origins, prefer a `read_only` key (read_only keys may call GET\noperations only; writes are rejected with 403), or proxy requests through your own server."
  },
  "tags": [
    {
      "name": "Service",
      "description": "Service-discovery and health operations."
    },
    {
      "name": "Keys",
      "description": "API key validation operations."
    },
    {
      "name": "Parts",
      "description": "Part upload and analysis operations."
    },
    {
      "name": "Features",
      "description": "Per-feature datasheet operations."
    },
    {
      "name": "Jobs",
      "description": "Asynchronous job operations."
    }
  ],
  "servers": [
    {
      "url": "https://api.toolpath.com",
      "description": "Toolpath Engine API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A Toolpath API key supplied as a Bearer credential."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "db": {
            "type": "string",
            "enum": [
              "up",
              "down"
            ]
          }
        },
        "required": [
          "status",
          "db"
        ]
      },
      "OpenApiDocument": {
        "type": "object",
        "properties": {
          "openapi": {
            "type": "string",
            "example": "3.1.0"
          }
        },
        "required": [
          "openapi"
        ],
        "additionalProperties": {}
      },
      "KeyValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Whether the key is usable right now.",
            "example": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked",
              "expired",
              "invalid"
            ],
            "description": "The derived key status: active (usable), revoked (disabled), expired (past expiry), or invalid (unknown key).",
            "example": "active"
          }
        },
        "required": [
          "valid",
          "status"
        ]
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI identifying the problem type.",
            "example": "https://api.toolpath.com/problems/invalid-api-key"
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem.",
            "example": "Invalid API key"
          },
          "status": {
            "type": "integer",
            "minimum": 400,
            "maximum": 599,
            "description": "The HTTP status code for this occurrence.",
            "example": 401
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence."
          },
          "instance": {
            "type": "string",
            "description": "A URI reference identifying this occurrence."
          },
          "code": {
            "type": "string",
            "description": "A stable, machine-readable Toolpath error code.",
            "example": "invalid_api_key"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "code"
        ]
      },
      "CreatePartResponse": {
        "type": "object",
        "properties": {
          "partId": {
            "type": "string"
          },
          "uploadUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceBucket": {
            "type": "string"
          },
          "sourceS3Key": {
            "type": "string"
          }
        },
        "required": [
          "partId",
          "uploadUrl",
          "sourceBucket",
          "sourceS3Key"
        ]
      },
      "AnalyzeJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "partId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          }
        },
        "required": [
          "jobId",
          "partId",
          "status"
        ]
      },
      "PartReportResponse": {
        "type": "object",
        "properties": {
          "partId": {
            "type": "string"
          },
          "reportId": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "kernelVersion": {
            "type": "string"
          },
          "units": {
            "$ref": "#/components/schemas/ReportUnits"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartFeature"
            }
          },
          "candidateDirections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vec3"
            }
          },
          "directionZBounds": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/DirectionZBounds"
            }
          },
          "meshPointCount": {
            "type": "integer",
            "minimum": 0
          },
          "meshTriangleCount": {
            "type": "integer",
            "minimum": 0
          },
          "thumbnailUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "meshStlUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "meshGlbUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "downloadMs": {
            "type": "integer",
            "minimum": 0
          },
          "recognitionMs": {
            "type": "integer",
            "minimum": 0
          },
          "enrichmentMs": {
            "type": "integer",
            "minimum": 0
          },
          "totalMs": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "partId",
          "reportId",
          "jobId",
          "kernelVersion",
          "units",
          "regions",
          "features",
          "candidateDirections",
          "directionZBounds",
          "meshPointCount",
          "meshTriangleCount",
          "thumbnailUrl",
          "meshStlUrl",
          "meshGlbUrl",
          "downloadMs",
          "recognitionMs",
          "enrichmentMs",
          "totalMs"
        ]
      },
      "ReportUnits": {
        "type": "object",
        "properties": {
          "length": {
            "type": "string",
            "enum": [
              "mm"
            ]
          },
          "angle": {
            "type": "string",
            "enum": [
              "deg"
            ]
          }
        },
        "required": [
          "length",
          "angle"
        ]
      },
      "Region": {
        "type": "object",
        "properties": {
          "idx": {
            "type": "integer",
            "minimum": 0
          },
          "splitOrigin": {
            "type": "integer",
            "minimum": 0
          },
          "shapeKind": {
            "type": "string"
          },
          "area": {
            "type": "number"
          },
          "triangleStart": {
            "type": "integer",
            "minimum": 0
          },
          "triangleEnd": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "idx",
          "splitOrigin",
          "shapeKind",
          "area",
          "triangleStart",
          "triangleEnd"
        ]
      },
      "PartFeature": {
        "type": "object",
        "properties": {
          "featureId": {
            "type": "string"
          },
          "featureTag": {
            "type": "string"
          },
          "regionIdxs": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0
            }
          },
          "featureType": {
            "type": "string"
          },
          "machiningDirection": {
            "$ref": "#/components/schemas/Vec3"
          },
          "axis": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Vec3"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "featureId",
          "featureTag",
          "regionIdxs",
          "featureType",
          "machiningDirection",
          "axis"
        ]
      },
      "Vec3": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "z": {
            "type": "number"
          }
        },
        "required": [
          "x",
          "y",
          "z"
        ]
      },
      "DirectionZBounds": {
        "type": "object",
        "properties": {
          "direction": {
            "$ref": "#/components/schemas/Vec3"
          },
          "zMin": {
            "type": "number"
          },
          "zMax": {
            "type": "number"
          }
        },
        "required": [
          "direction",
          "zMin",
          "zMax"
        ]
      },
      "ComputeFeatureDatasheetsResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "partId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          }
        },
        "required": [
          "jobId",
          "partId",
          "status"
        ]
      },
      "ComputeFeatureDatasheetsRequest": {
        "type": "object",
        "properties": {
          "featureIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          }
        },
        "required": [
          "featureIds"
        ]
      },
      "FeatureDatasheetsResponse": {
        "type": "object",
        "properties": {
          "datasheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureDatasheetEntry"
            }
          },
          "notFound": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "datasheets",
          "notFound"
        ]
      },
      "FeatureDatasheetEntry": {
        "type": "object",
        "properties": {
          "featureId": {
            "type": "string",
            "format": "uuid"
          },
          "featureTag": {
            "type": "string"
          },
          "featureType": {
            "type": "string"
          },
          "datasheet": {
            "$ref": "#/components/schemas/FeatureDatasheet"
          }
        },
        "required": [
          "featureId",
          "featureTag",
          "featureType"
        ]
      },
      "FeatureDatasheet": {
        "type": "object",
        "additionalProperties": true,
        "description": "Per-feature DFM measurement facts. Z bounds in the direction frame (zMin/zMax; local height is zMax − zMin), stock-to-leave, tolerance band, floor/wall flags and areas, plus a per-kind `facts` object (narrow on `facts.kind` for diameters, tool bounds, corner/fillet radius). Lengths are mm, angles degrees. The exact shape is the kernel’s FeatureDatasheet (@toolpath/tp-kernel)."
      },
      "ListJobsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobSummary"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "JobSummary": {
        "type": "object",
        "properties": {
          "partUuid": {
            "type": "string"
          },
          "jobUuid": {
            "type": "string"
          },
          "productType": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "progress": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "partUuid",
          "jobUuid",
          "productType",
          "status",
          "progress",
          "createdAt"
        ]
      },
      "JobDetail": {
        "type": "object",
        "properties": {
          "partUuid": {
            "type": "string"
          },
          "jobUuid": {
            "type": "string"
          },
          "productType": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "progress": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "reportId": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "partUuid",
          "jobUuid",
          "productType",
          "status",
          "progress",
          "error",
          "reportId",
          "createdAt"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "Service"
        ],
        "summary": "Check Engine API health",
        "security": [],
        "responses": {
          "200": {
            "description": "The Engine API is available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "The Engine API is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "operationId": "getOpenApiDocument",
        "tags": [
          "Service"
        ],
        "summary": "Get the Engine API OpenAPI document",
        "security": [],
        "responses": {
          "200": {
            "description": "The exact OpenAPI document served by the Engine API.",
            "headers": {
              "ETag": {
                "description": "An identifier derived from the document bytes.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache revalidation policy for the mutable v1 document URL.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/validate": {
      "post": {
        "operationId": "validateKey",
        "tags": [
          "Keys"
        ],
        "summary": "Validate an API key",
        "description": "Reports the status of the API key supplied in the Authorization header. A usable key returns 200; a missing, revoked, expired, or unknown key returns 401 — both with the same status body (never problem+json) — so bring-your-own-key integrations can confirm a key and show why it failed.",
        "responses": {
          "200": {
            "description": "The key is active and usable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyValidationResponse"
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, revoked, expired, or unknown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyValidationResponse"
                }
              }
            }
          },
          "503": {
            "description": "Key validation is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parts": {
      "post": {
        "operationId": "createPart",
        "tags": [
          "Parts"
        ],
        "summary": "Create a part upload",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "example": "part.step"
            },
            "required": false,
            "name": "filename",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "The part was created and is ready for direct upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The part could not be created.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parts/{id}/analyze": {
      "post": {
        "operationId": "analyzePart",
        "tags": [
          "Parts"
        ],
        "summary": "Start part analysis",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "0195f02c-4b4a-7b5d-9b6e-8f139d5e2820"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false",
              "example": "true",
              "description": "When true, enrich recognized features into per-feature datasheets. Defaults to false."
            },
            "required": false,
            "description": "When true, enrich recognized features into per-feature datasheets. Defaults to false.",
            "name": "featureDetails",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "example": "analysis-request-123"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "responses": {
          "202": {
            "description": "The analysis job was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The part does not exist in the authorized organization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The part source has not been uploaded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The analysis job could not be submitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parts/{id}/report": {
      "get": {
        "operationId": "getPartReport",
        "tags": [
          "Parts"
        ],
        "summary": "Get the latest part report",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "0195f02c-4b4a-7b5d-9b6e-8f139d5e2820"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "0195f02c-4b4a-7b5d-9b6e-8f139d5e2820",
              "description": "Return the report for this specific analyze run instead of the latest for the part."
            },
            "required": false,
            "description": "Return the report for this specific analyze run instead of the latest for the part.",
            "name": "jobId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The analysis report for the part (the latest, or the requested run).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The part or its report was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The part report could not be retrieved.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/features/datasheets": {
      "post": {
        "operationId": "computeFeatureDatasheets",
        "tags": [
          "Features"
        ],
        "summary": "Queue datasheet computation for a list of features",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComputeFeatureDatasheetsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The enrichment job was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputeFeatureDatasheetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid, or the features span more than one part.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "None of the features exist in the authorized organization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The part source has not been uploaded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The enrichment job could not be submitted.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getFeatureDatasheets",
        "tags": [
          "Features"
        ],
        "summary": "Get datasheets for a list of features",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "0195f02c-4b4a-7b5d-9b6e-8f139d5e2820,0195f02c-4b4a-7b5d-9b6e-8f139d5e2821",
              "description": "Comma-separated feature ids (from a part report) to fetch datasheets for."
            },
            "required": true,
            "description": "Comma-separated feature ids (from a part report) to fetch datasheets for.",
            "name": "ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Datasheets for the resolved features, plus any ids that were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureDatasheetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The feature datasheets could not be retrieved.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "operationId": "listJobs",
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20,
              "example": 20,
              "description": "Requested page size. Values above 100 are capped at 100."
            },
            "required": false,
            "description": "Requested page size. Values above 100 are capped at 100.",
            "name": "pageSize",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "0195f02c-4b4a-7b5d-9b6e-8f139d5e2820",
              "description": "Return only jobs for this part."
            },
            "required": false,
            "description": "Return only jobs for this part.",
            "name": "partId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "running",
                "succeeded",
                "failed"
              ],
              "example": "succeeded",
              "description": "Return only jobs in this state."
            },
            "required": false,
            "description": "Return only jobs in this state.",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of jobs owned by the authorized organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListJobsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The jobs could not be listed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "0195f02c-4b4a-7b5d-9b6e-8f139d5e2820"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The job, scoped to the authorized organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetail"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The job was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The job could not be retrieved.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}/events": {
      "get": {
        "operationId": "streamJobEvents",
        "tags": [
          "Jobs"
        ],
        "summary": "Stream job updates",
        "description": "Sends the current job immediately, then sends every subsequent persisted status, progress, or error change as a `job` server-sent event while the connection remains open. If the connection closes, reconnect to receive the latest job snapshot before continuing with future updates.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "0195f02c-4b4a-7b5d-9b6e-8f139d5e2820"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A stream of job snapshots.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Each `job` event has a JSON `data` field matching JobDetail.",
                  "example": "event: job\ndata: {\"partUuid\":\"0195f02c-4b4a-7b5d-9b6e-8f139d5e2820\",\"jobUuid\":\"0195f02c-4b4a-7b5d-9b6e-8f139d5e2821\",\"productType\":\"analyze-part\",\"status\":\"running\",\"progress\":null,\"error\":null,\"reportId\":null,\"createdAt\":\"2026-08-05T12:00:00.000Z\"}\n\n"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The job was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The job event stream could not be opened.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Authentication is temporarily unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
